<div class="columns">
  <main class="content">
    <div class="title-character-count-area">
      <h1>What's happening?</h1>
      <div class="character-count">140</div>
    </div>

    <textarea name="tweet" class="tweet" contentEditable="true"></textarea>
    <div class="tweet-button-area">
      <button>Tweet</button>
    </div>

    <h2>Home</h2>
    <hr />
  </main>
  <aside class="sidebar">
  </aside>
</div>