<main class="content">
  <%= form_for :tweet, url: "/new" do |f| %>
    <div class="title-character-count-area">
      <h1>What's happening?</h1>
      <div class="character-count">140</div>
    </div>

    <textarea autofocus name="tweet" class="new-tweet" contentEditable="true"></textarea>
    <input type="hidden" name="in_reply_to" value="" />
    <div class="tweet-button-area">
      <input type="submit" value="Tweet" />
    </div>
  <% end %>

  <h2>Home</h2>
  <div class="new-tweets-notice" style="display: none">
    0 new tweets
  </div>
  <div class="home-timeline">
    <%= render partial: "timeline", locals: { allow_replies: true } %>
  </div>
  <button class="load-more">more</button>
</main>

<aside class="sidebar">
  <%= render partial: "profile_stats", locals: { user: @user } %>

  <ul class="sidebar-menu">
    <li class="selected"><a href="/">Home</a></li>
    <li><a href="https://twitter.com/notifications/mentions" target="_blank">@<%= @user["screen_name"] %></a></li>
    <li><a href="https://twitter.com/messages" target="_blank">Direct Messages</a></li>
    <li><a href="https://twitter.com/notifications" target="_blank">Favorites</a></li>
    <li><a href="https://twitter.com/notifications" target="_blank">Retweets</a></li>
    <li><a href="https://apps.apple.com/nl/app/good-ol-twitter-client/id1537266731?l=en" target="_blank">Download iOS app</a></li>
  </ul>
</aside>