<main class="content">
  <h1>Privacy Policy</h1>

  <h3>Account</h3>

  <p>
  Good Ol' Twitter does not store your username or password, nor any personal account information.
  When you sign in with your twitter account, Good Ol' Twitter stores only the token provided by Twitter,
  and necessary to make calls to Twitter API, so that we can retrieve your feed and publish tweets
  </p>

  <h3>Content</h3>

  <p>
  All content on Good Ol' Twitter comes from official Twitter API itself, we do not store, change or block
  any content such as tweets or profile information. Any inapropriate content should be flagged directly on
  twitter official website or clients
  </p>

  <h3>Contact</h3>

  <p>
  For any questions, you can <a href="https://github.com/rogeriochaves/oltwitter/issues">file an issue on github</a>
  </p>
</div>