// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  background: #9de4e7;
  font-family: "Lucida Grande", sans-serif;
  color: #384498;
  line-height: 1.2em;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

h1,
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 8px;
  font-family: Helvetica, sans-serif;
}

h2 {
  font-size: 18px;
  padding-bottom: 0;
}

.logo {
  margin-bottom: 8px;
}

.good-ol {
  padding-left: 16px;
}

.title-character-count-area {
  display: flex;
  justify-content: space-between;
}

.character-count {
  font-size: 24px;
  font-weight: bold;
  color: #cccccc;
  align-self: flex-end;
  padding-bottom: 4px;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  width: 762px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.content {
  background: #ffffff;
  flex-grow: 1;
  border-right: 1px solid #cbaedb;
  border-radius: 5px 0 0 5px;
  padding: 18px;
}

.new-tweet {
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  resize: none;
  width: 100%;
  padding: 8px;
  height: 44px;
}

button,
input[type="submit"] {
  border: 1px solid #999999;
  background: linear-gradient(180deg, #fff 0%, #ececec 100%);
  height: 26px;
  padding: 0 15px;
  color: #666;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, #ececec 100%, #fff 0%);
    padding-top: 1px;
  }
}

.tweet-button-area {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 12px;
}

hr {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.tweet {
  display: flex;

  img {
    margin-right: 8px;
  }
  .tweet-text {
    padding-top: 2px;
  }
  .author {
    font-weight: bold;
  }
}

a {
  color: #1385b2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sidebar {
  min-width: 200px;
  background: #d2f9fa;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
}

.profile {
  display: flex;
  padding: 8px 14px 12px 14px;

  img {
    margin-right: 8px;
  }
  a.profile-name {
    font-weight: bold;
    color: #384498;
    font-size: 14px;
  }
  .tweet-count {
    font-size: 11px;
  }
}

.stats-counter {
  padding: 0 14px;
  display: flex;
  font-size: 16px;
  div {
    padding-right: 6px;
  }
  .count-link {
    font-size: 11px;
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  font-size: 13px;

  .selected {
    background: #e2ffff;
    a {
      color: #384498;
    }
  }
  a {
    display: block;
    padding: 8px 14px;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin-left: 31px;
}

.profile-header {
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
  h1 {
    font-size: 32px;
    line-height: 1.2em;
    padding: 0;
  }
}

.profile-timeline .tweet {
  img {
    display: none;
  }
  .author {
    display: none;
  }

  &:first-of-type .tweet-text {
    font-size: 24px;
    line-height: 1.2em;
    padding: 16px 0;
  }
}

button.load-more {
  width: 100%;
  font-weight: bold;
  padding: 8px 0;
  height: auto;
  margin-top: 16px;

  &:hover {
    padding: 9px 0 7px 0;
  }
}

.new-tweets-notice {
  padding: 8px;
  text-align: center;
  background: #f2ffff;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #73d5ff;
  cursor: pointer;
}
