body {
  padding: 0;
}
.home-header-background {
  background: #59b image-url("twitter-sun.gif") no-repeat 50% 0;
}
.home-wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
#searchform_q {
  background: #fff;
  margin: 0;
  width: 226px;
  margin: 0;
  padding: 6px 6px;
  border: 1px solid #eee;
  border-radius: 0;
  border-right-width: 1px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font: 13px "Lucida Grande", Arial, Sans-serif;
}

#searchform_submit {
  height: auto;
  background: #bbb;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #eee;
  outline-width: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font: 13px "Lucida Grande", Arial, Sans-serif;
  font-style: normal;
  font-style: normal;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

.round-left {
  border-radius: 0;
  border-radius: 0 0 5px 5px;
}

.round-right {
  border-radius: 0;
  border-radius: 5px 5px 0 0;
}

.login-overlay {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 80px;
  width: 240px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
}

.newuser {
  background: #ddeef6;
  padding: 0 10px 5px;
  border-radius: 5px;
  color: #456;
}

.newuser h2 {
  font: bold 18px "Helvetica Neue", Arial, Sans-serif;
  color: #333;
  padding: 10px 0 4px;
}

#signup-btn {
  width: 100%;
  height: auto;
  background: #fa2;
  background: linear-gradient(
    180deg,
    rgba(255, 238, 102, 1) 0%,
    rgba(255, 170, 34, 1) 100%
  );
  display: block;
  padding: 8px 10px;
  border: 1px solid #fa2;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #333;
  text-shadow: 0 1px 0 #fe6;
  font: bold 16px Arial, Sans-serif;
}

#trends {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#trends .inner {
  width: 720px;
  overflow: hidden;
  position: relative;
}

#trends ul {
  list-style: none;
  white-space: nowrap;
}

#trends li {
  display: inline;
}

#trends li.trend-label {
  font-size: 9px;
  color: #def;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 8px 4px;
}

#trends a {
  display: inline-block;
  color: #6ac;
  padding: 8px 4px;
}

.home-header {
  background: #246;
}

.fade {
  position: absolute;
}
